
/* Header section */

header {
	display: flex;
	font-family: Verdana;
  	font-size: 14px;
  	font-weight: bold;
  	border-bottom: 1px solid black;
  	justify-content: space-between;
  	padding: 10px;
  	align-items: center;
  }

.logo {
	color: MediumAquamarine;
	display: inline-flex;
}

.logo p {
	padding: 10px;
}

nav span {
	display: inline-block;
	padding: 10px;
}

a {
	color: black;
}


/* Main content section */

div {
	border: 1px solid black;
}

.container {
	display: flex;
	width: 1200px;
	margin: 0 auto;
	padding-top: 35px;
}

.column {
	display: flex;
	flex-direction: column;
}

.column.large {
	width: 630px;
}

.column.medium {
	width: 300px;
}

.column.small {
	width: 240px;
}