
/* Header section */

header {
	display: flex;
	font-family: Verdana;
  	font-size: 14px;
  	font-weight: bold;
  	border-bottom: 1px solid black;
  	justify-content: space-between;
  	padding: 10px;
  	align-items: center;
  }

.logo {
	color: MediumAquamarine;
	display: inline-flex;
}

.logo p {
	padding: 10px;
}

nav span {
	display: inline-block;
	padding: 10px;
}

a {
	color: black;
}


/* Main content section structure */

div {
	border: 1px solid black;
}

.container {
	display: flex;
	width: 1200px;
	margin: 0 auto;
	padding-top: 35px;
}

.column {
	display: flex;
	flex-direction: column;
	margin-right: 25px;
}

.column.large {
	width: 630px;
}

.column.medium {
	width: 300px;
}

.column.small {
	width: 240px;
}

.story {
	font-family: Georgia;
 	font-size: 17px;
  	color: black;
}
/* Add Images */
.image {
	display: flex;
	font-family: Georgia;
	font-weight: bold;
	font-size: 30px;
	color: white;
}
.image.main { 
	background-image: url("../images/img-story-main.png");
	font-size: 40px; 
}

.image.earth { background-image: url("../images/img-earth.png"); 
}

.image.camera { 
	background-image: url("../images/img-camera.png") 
}

.image.cats { 
	background-image: url("../images/img-cats.png"); 
}